body {
    font-family: 'Fondamento', Georgia, 'Times New Roman', serif, cursive;
    align-content: center;
    color: rgb(134, 102, 187);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    line-height: 36px;
}

.container {
    display: flex;
    justify-content: center;
    background-image: url("../images/mystical.jpg");
    width: 10opx;
    height: 200px;
}

.center {
    width: 1024px;
    height: 768px;
    padding-top: 200px;
    background-image: url("../images/fortuneteller.jpg");
    background-repeat: no-repeat;
}

.wrapper {
    padding-left: 330px;
}

#won {
    color: rgb(70, 223, 243);
    font-size: 1.5em;
}

#lost {
    color: rgb(163, 81, 138);
    font-size: 1.5em;
}

#attempts {
    color: rgb(70, 223, 243);
    font-size: 1.2em;
}

#playerGuess {
    color: rgb(163, 81, 138);
    font-size: 1.5em;
}

h1 {
    font-size: 1.6em;
}